
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Crushed;
    font-size: 25px;
  }
  
  li a:hover {
    text-decoration: underline;
  }

.entire-page{
  background: linear-gradient(to bottom, #f0f2f5 0%, rgba(240,242,245,0) 196px);
}
.container
{
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.container {
  max-width: 900px;
}
.title{
  font-size: 2rem;
  font-family: Chivo !important;
  font-weight: 40;
}
.margin{
 padding-left: 10px;
}
.mr{
  margin-right: 15px;
}
.m{
  margin: 0 !important;
}
.pb{
  padding-bottom: 25px;
}
.pt{
  padding-top:0 !important;
}
.alg{
  vertical-align: middle;
}
