<h2 class = "head2 ">
  Standings
</h2>

<table >
    <tr>
        <th>#</th> 
        <th>Club</th>
        <th>PG</th>
        <th>Won</th>
        <th>Draw</th>
        <th>Lost</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>Points</th>
      </tr>

  <tr *ngFor = "let item of table">
    <td>{{item.position}}</td>
    <td>{{item.team.name}}</td>
    <td>{{item.playedGames}}</td>
    <td>{{item.won}}</td>
    <td>{{item.draw}}</td>
    <td>{{item.lost}}</td>
    <td>{{item.goalsFor}}</td>
    <td>{{item.goalsAgainst}}</td>
    <td>{{item.goalDifference}}</td>
    <td>{{item.points}}</td>

  </tr>
</table>
